header {
  padding: 1.5em;
}

.nav {
  &bar {
    ul {
      padding: 0;
      background-color: turquoise;

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    .navlink {
      list-style: none;
      text-align: center;
      color: #fff;
      padding: 1em;
      &:hover {
        background-color: darkblue;
      }
    }
  }
}
