/* Theme ColorA */
:root {
  --color-base: #d00000;
  --color-important: #6a040f; 
  --color-warning: #f5cac3; 
  --shadow: -28px 29px 19px -4px rgba(0,0,0,0.75); 
  --fontOne: 'Times New Roman'; 
  --fontTwo: 'Courier New';
  
}
$Brd-r: false;


