/* Theme ColorB */

:root {
  --color-base: #072ac8;
  --color-important: #3a0ca3; 
  --color-warning: #00f5d4; 
  --shadow: 28px 29px 19px -4px rgba(0,0,0,0.75); 
  --fontOne: 'Verdana'; 
  --fontTwo: 'Georgia'; 
}
$Brd-r: true;
